.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
.about-left{
    /* width: 50%; */
    padding: 20px;
    margin: 20px;
}
.about-left img{
    width: 650px;
}
.about-right{
    /* width: 50%; */
    padding: 30px;
    margin: 30px;
}
.about-right h1{

    font-size:40px ;
    padding: 20px 0;
}
.about-right p{
    font-size: 17px;
    padding: 15px 0;
}
@media (max-width:768px){
    .about{
        display: block;
        padding: 0;
        margin: 2px;
    }
    .about-left {
        margin: 0;
        padding: 0;
    }
    .about-left img{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}