.bgcommon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    text-align: center;

}
.blog-img img{
    width: 260px;
    height: 250px;
    padding: 10px;
}
.blgcmn-contant{
    width: 35%;
}
.blgcmn-contant h2{
    font-size: 25px;
    font-weight: 400;
    padding:  10px 0;
}

.blog{
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 0px; 
     /* align-items: center;  */
}
.blog-input input{
    width: 80%;
    padding: 20px;
    font-size: 20px;
    margin: 20px 0;
}
.blog-catagery{
    padding:  15px 0; 
    display: flex;
    justify-content: space-between;
}
.blog-right{
    padding: 0 30px;
    margin:0  90px;
}
.catagery{
    padding: 10px;
    font-size: large;
}
.recent-blog-img img{
    width: 100px;
    height: 100px;
    padding: 20px 0;
    padding-right: 20px;
}
.recent-blog1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.blog-contant{
    font-size: large;
    padding: 10px;
    line-height: 1.2;
}
.paragraph{
    width: 300px;
    font-size: large;
    line-height: 1.3;
    padding: 20px;
    margin: 20px;
}
.paragraph h2{
    padding: 20px 0;
}
@media(max-width:768px){
    .bgcommon{
        /* width: inherit; */
        display: block;
    }
    .blgcmn-contant {
         width: 100%;
      }
    .blog{
        display: block;
    }
    .blog-img img{
        margin: 10px -25px;
        width: 120%;
    }
    .blog-right{
        width: 100%;
        margin: 0 -25px;

    }
   .recent-blog1{
    display: block;
   }
   .paragraph{
    width: 100%;
    padding: 0;margin: 0;
   }
}