@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
*{
  padding: 0%;
  margin: 0;
  font-family: "Slabo 27px", serif;
}